# ignore all opened MS Office files 
~$*

# ignore all folders
# *

# Allow these specific files
!'Production log book.xlsx'
!README.txt

# ignore setup files
Anaconda*

__pycache__
examples/dry_etch/ASH09_QC_LOG_BOOK/__pycache__
